* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #f2b705;
  color: #000;
  font-size: 22px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 1000;
  width: 320px;
  height: 100vh;
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #f2b705;
  transition: 0.3s;
}


.logo-area {
  margin-top: 10px;
  text-align: center;
}

.logo {
  width: 110px;
  margin: 0 auto 12px;
}

.logo-area h2 {
  color: #f2b705;
  font-size: 20px;
  font-weight: 800;
}

.menu-links,
.bottom-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-links {
  margin-top: 60px;
  gap: 28px;
}

.bottom-link {
  margin-top: auto;
  margin-bottom: 20px;
}

.bottom-link .menu-item {
  padding-left: 20px;
}

.menu-item {
  width: 280px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 8px 12px 8px 40px;
  border-radius: 8px;
  color: #f2b705;
  text-decoration: none;
  font-weight: 800;
  transition: 0.25s ease;
}

.menu-item span {
  font-size: 22px;
  white-space: nowrap;
}

.menu-item:hover {
  color: #ffffff;
  background-color: rgba(242, 183, 5, 0.15);
}

.icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  flex-shrink: 0;
}
