  /* API da fonte de títulos Inter */
  @import url('https://fonts.googleapis.com/css2?&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  /* API da fonte padrão Montserrat */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: var(--paragrafo);
  }

  :root {
      --cor-critico: rgb(245, 67, 67);
      --cor-moderado: rgb(255, 187, 0);
      --primary-yellow: #FFBA00;
      --second-green: #00352A;
      --paragrafo: 'Montserrat', sans-serif;
      --titulo: 'Inter', sans-serif;
  }

  .fundo_geral_tela {
      display: flex;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }

  .fundo_geral_tela::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url('../assets/imgs/img_fundo_alerta.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(0.6) blur(5px);

      z-index: -1;
      transform: scale(1.1)
  }


  .div_elementos_gerais {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 90vw;
      min-height: 40vh;

      flex-direction: column;
      color: white;
      padding: 0px 3%;
      gap: 2vw;
  }

  #titulo_exclamacao {
      color: var(--primary-yellow);
      padding-right: 1vh;
  }

  .cards_elementos_gerais {
      display: flex;
      flex-direction: row;
      width: 85vw;
      min-height: 25vh;
      justify-content: space-between;
      align-items: flex-start;
  }

  .div_geral_alerta_fazenda {
      flex-direction: column;
      display: flex;
      flex: 3;
      min-height: 30vh;
      background-color: white;
      color: #000000;
      justify-content: space-between;
      padding: 5vh 3vh;
      border-radius: 3vh;
      gap: 4vh;
  }


  .card_alerta {
      display: flex;
      flex-direction: row;
      color: white;
      flex: 3;
      border-radius: 2vh;
      padding: 1vw 3vh;

      justify-content: space-between;
  }

  .div_info_card_alerta {
      width: 35vw;
      min-height: 10vh;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
  }

  .div_btn_VER_card_alerta {
      width: 7vw;
      height: 15vh;
  }

  .div_qtd_exclamacoes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 4vw;
      height: 15vh;
  }

  .div_qtd_exclamacoes span {
      display: inline-block;

  }

  .exclamacao_pequena {
      font-size: 3.2vw;
      line-height: 1;

  }

  .exclamacao_media {
      font-size: 4vw;
      line-height: 1;
  }

  .exclamacao_grande {
      font-size: 5vw;
      line-height: 1;
  }

  .desc_card_alerta {
      width: 30vw;
      display: flex;
      flex-direction: column;
      gap: 2vh;
  }

  .desc_card_alerta p {
      font-size: 1.5vh;
  }

  .desc_card_alerta h4 {
      font-size: 2.5vh;
  }

  .div_btn_VER_card_alerta {
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

  .div_btn_VER_card_alerta button {
      width: 100%;
      height: 40%;
      font-size: 2vh;
      border-radius: 5vh;
      border: 2px solid;
      background-color: rgba(133, 42, 0, 0.199);
      border-color: rgb(255, 255, 255);
      color: white;
      font-weight: bold;
      transition: all ease-in-out 0.3s;
  }

  .div_btn_VER_card_alerta button:hover {
    background-color: white;
    color: black;
    transform: scale(0.9);
  }

  .cor_fundo_alerta_critico {
      background-color: var(--cor-critico);
  }

  .cor_fundo_alerta_moderado {
      background-color: var(--cor-moderado);
  }

  .cor_font_critico {
      color: var(--cor-critico);
  }

  .cor_font_moderado {
      color: var(--cor-moderado);
  }


  .cor_border_critico {
      border-color: var(--cor-critico);
  }

  .cor_border_moderado {
      border-color: var(--cor-moderado);
  }

  .div_fazenda {
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: rgba(215, 98, 98, 0.5);
      justify-content: space-between;

  }

  .card_fazenda {
      flex: 1;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-width: 4px;
      border-style: solid;
      border-radius: 2vh;
      padding: 1vh;
      width: 15vw;

  }

  .linha_alerta_fazenda {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-height: 18vh;
      align-items: stretch;
      gap: 2vw;
  }

  .p_bold {
      font-weight: bold;
      font-size: 1.5vh;
  }


  .p_comum {
      font-size: 1.5vh;
  }

  .info_respons_fazenda {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1vw;
  }

  .linha_titulos {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: black;
      font-weight: bold;
  }

  #titulo_alerta {
      font-size: 3vh;
  }

  #linha_titulo_alerta {
      display: flex;
      flex: 3;
      justify-content: center;
      font-size: 2.5vh;
  }

  #linha_titulo_fazenda {
      display: flex;
      flex: 1;
      justify-content: center;
      font-size: 2.5vh;
  }

  .titulo_nome_fazenda {
      font-weight: bold;
      padding-bottom: 2vh;
      font-size: 2.5vh;
  }


  .elementos_qtd_alertas {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      min-height: 30vh;
      margin-left: 2vw;
  }

  .div_qtd_alertas {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-height: 20vh;
      border-radius: 1.5vw;
      background-color: white;
      color: #000000;
      padding: 3vh 0px;
      justify-content: space-between;
      font-weight: bold;
      font-size: 2.5vh;
      gap: 3vh;
  }

  #titulo_qtd_alerta {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3vh;
      font-size: 2.7vh;
      gap: 1vh;
  }

  .cards_geral_qtd_alerta {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 4vh;
  }

  .card_unico_qtd_alerta {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      font-weight: bold;
      font-size: 3vh;
  }

  .qtd_alerta {
      display: flex;
      justify-content: center;
      align-items: center;

      min-height: 13vh;
      width: 100%;
      border-radius: 2vh;
      color: white;
      font-size: 5vh;
      font-weight: bold;
  }