/* API da fonte de títulos Inter */
@import url('https://fonts.googleapis.com/css2?&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* API da fonte padrão Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Root de variáveis para paleta de cores e fontes */
:root {
    --primary-yellow: #FFBA00;
    --second-green: #00352A;
    --paragrafo: 'Montserrat', sans-serif;
    --titulo: 'Inter', sans-serif;
} 


* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
}

.font-geral {
    font-family: var(--titulo);
}

/*Inicio CSS do header*/

.header {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 10vh;
    z-index: 10;
}

.container-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    color: var(--primary-yellow);
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.container-header h3 {
    transition: all ease-in-out 0.3s;
}

.container-header h3:hover {
    transform: scale(1.05);
}

.container-header img {
    width: 50px;
    height: auto;
}

.container-header button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: var(--primary-yellow);
    font-size: 25px;
    background-color: black;
    border-color: var(--primary-yellow);
    border: 2px solid;
    transition: all ease-in-out 0.3s;
}

.container-header button:hover {
    background-color: var(--primary-yellow);
    color: black;
    transform: scale(1.1);
}

/*Fim do CSS header*/


/*Inicio do CSS do container*/
.container-financeiro {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-simulador-financeiro {
    margin-top: 5%;
    position: fixed;
    z-index: 5;
    display: flex;
    width: 50%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid;
    border-radius: 10vh;
    border-color: var(--primary-yellow);
    background-color: white;
    gap: 2%;
}

.form-simulador-financeiro p {
    font-size: 13px;
    border: 1px solid;
    border-color: var(--second-green);
    border-radius: 15px;
    padding: 4px 20px;
    color: var(--second-green);
    margin-left: 5%;
}

.form-simulador-financeiro h1 {
    max-width: 43vw;
    font-size: 35px;
    margin-left: 5%;
}

.form-simulador-financeiro button{
    font-weight: 800;
    display: flex;
    align-self: center;
    padding: 1.5vh 2.5vw;
    border-radius: 8vw;
    background-color: var(--primary-yellow);
    border-style: none;
    transition: all ease-in-out 0.3s;
}

.form-simulador-financeiro button:hover {
    transform: scale(.95);
    background-color: var(--second-green);
    color: var(--primary-yellow);
}

.form-simulador-financeiro button:active {
    transform: scale(1);
}

.ipt-simulador-financeiro {
    width: 90%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5%;
}

.ipt-simulador-financeiro input {
    width: 30vw;
    height: 8vh;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 1vw;
    transition: all ease-in-out 0.3s;
}

.ipt-simulador-financeiro input:hover {
    background-color: rgb(221, 235, 243);
}

.ipt-simulador-financeiro input:focus {
    background-color: rgb(221, 235, 243);
    outline: 2px solid #1d5970;
    border-radius: 5vh;
}

.circulo-fundo1,
.circulo-fundo2,
.circulo-fundo3 {
    position: fixed;
    z-index: 1;
}

.circulo-fundo1 {
    width: 25vw;
    height: 65vh;
    background-color: var(--primary-yellow);
    border-radius: 35% 70% / 30% 50%;

    top: 0;
    left: 0;

    transform: translate(-10%, -10%);
}

.circulo-fundo2 {

    width: 18vw;
    height: 39vh;
    border-radius: 50%;

    top: 45%;
    left: 6%;

    background: conic-gradient(var(--second-green) 0deg 270deg, transparent 270deg 360deg);
    transform: rotate(90deg);
}

.circulo-fundo3 {

    width: 30vw;
    height: 48vh;
    background-color: var(--primary-yellow);
    border-radius: 80% 40% 0% 0% / 90% 90% 10% 0%;

    bottom: 0;
    right: 0;

}

.container-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0px;
    font-size: 2.3vh;
}

.mensagem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2%;
}

/*Fim do CSS do container*/