/* API da fonte de títulos Inter */
@import url('https://fonts.googleapis.com/css2?&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* API da fonte padrão Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Root de variáveis para paleta de cores e fontes */
:root {
    --primary-yellow: #FFBA00;
    --second-green: #00352A;
    --paragrafo: 'Montserrat', sans-serif;
    --titulo: 'Inter', sans-serif;
} 

#pagina {
  font-family: var(--titulo);
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/imgs/imgFundo.svg");
  background-size: cover;
  background-color: black;
}

.box1 {
  border: solid 1px color var(--primary-yellow);
  border-radius: 3vw;
  background-color: var(--primary-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 35vw;
  height: 50vh;
  gap: 2vh;
}
#botaoZap {
  font-family: var(--titulo);
  border: none;
  border-radius: 3vw;
  background-color: var(--second-green);
  color: var(--primary-yellow);
  width: 18vw;
  height: 7vh;
  font-size: 1.2vw;
  font-weight: bold;
}

#imgZap_botao {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  gap: 1vw;
}

#botaoEmail {
  font-family: var(--titulo);
  border: none;
  border-radius: 3vw;
  background-color: var(--primary-yellow);
  color: var(--second-green);
  font-size: 1.2vw;
  font-weight: bold;
  width: 24vw;
  height: 7vh;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}

#botaoTelefone {
  font-family: var(--titulo);
  border: none;
  border-radius: 3vw;
  background-color: var(--primary-yellow);
  color:var(--second-green);
  font-size: 1.2vw;
  font-weight: bold;
  width: 20vw;
  height: 7vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}

.box2 {
  border: solid 1px color var(--second-green);
  border-radius: 3vw;
  background-color: var(--second-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 35vw;
  height: 50vh;
  padding: 3%;
}

#titulo1 {
  color: var(--second-green);
  margin: 3%;
  font-size: 1.7vw;
  font-weight: 900;
  width: 25vw;
}

#titulo2 {
  color: var(--primary-yellow);
  margin: 3%;
  font-size: 1.7vw;
  font-weight: 900;
  width: 25vw;
}

#p1 {
  color: black;
  text-align: left;
  width: 25vw;
  font-size: 1.2vw;
}
#p2 {
  color: white;
  text-align: left;
  width: 25vw;
  font-size: 1.2vw;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  gap: 7%;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imgZap {
  width: 4vw;
  height: 4vw;
}

#imgEmail, #imgTelefone {
  width: 1.5vw;
  height: 1.5vw;
}