* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#pagina {
  font-family: "Inter", sans-serif;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/imgs/imgFundo.svg");
  background-size: cover;
  background-color: black;
}

.box1 {
  border: solid 1px color#FFBA00;
  border-radius: 35px;
  background-color: #ffba00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 35vh;
}
#botaoZap {
  border: none;
  border-radius: 30px;
  background-color: #00352a;
  color: #ffba00;
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}

#imgZap_botao {
  display: flex;
  align-items: row;
  height: 40px;
}

#botaoEmail {
  border: none;
  border-radius: 30px;
  background-color: #ffba00;
  color:#00352A;
  font-size: 18px;
  font-weight: bold;
  width: 350px;
  height: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

#botaoTelefone {
  border: none;
  border-radius: 30px;
  background-color: #ffba00;
  color:#00352A;
  font-size: 18px;
  font-weight: bold;
  width: 350px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.box2 {
  border: solid 1px color#00352A;
  border-radius: 40px;
  background-color: #00352a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 35vh;
}

#titulo1 {
  color: #00352a;
  margin: 10px;
  font-size: x-large;
  font-weight: 900;
}

#titulo2 {
  color: #ffba00;
  margin: 10px;
  font-size: x-large;
  font-weight: 900;
}

#p1 {
  color: black;
  text-align: left;
  width: 350px;
  font-size: 18px;
  margin-bottom: 10px;
}
#p2 {
  color: white;
  text-align: left;
  width: 350px;
  font-size: 18px;
  margin-bottom: 10px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vb;
  gap: 120px;
}
