
/* API da fonte de títulos Inter */
@import url('https://fonts.googleapis.com/css2?&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.font-geral{
    font-family: 'Inter', sans-serif;
}

/* INICIO CSS DA NAVBAR*/


.header{
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10;
    width: 100%;
}

.container-header{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 35px;
    width: 100%;
    height: 80px;
}

.logo-esquerda, .links-direita, .links-centro {
    width: 25vw;
}

.logo-esquerda {
    display: flex;
    justify-content: flex-start;
}

.links-centro {
    display: flex;
    justify-content: center;
}

.links-direita {
    display: flex;
    justify-content: flex-end;
}

.links-comuns{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white; 
    gap: 60px;
}

.links-comuns .link {
    transition: all ease-in-out 0.3s;
}

.links-comuns .link:hover {
    transform: scale(1.2);
    color: #FFBA00;
}

.links-comuns li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.links-comuns .barra {
    user-select: none;
}

.logo-esquerda img{
    width: 50px;
}

.links-cadastro{
     display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color: white; 
    gap: 40px; 
    align-items: center;
}

    

#btn-login{
    color: #FFBA00;
    border: 2px solid #FFBA00;
    border-radius: 20px;
    padding: 10px 25px;
    border-color: 2px solid #FFBA00;
    text-decoration:none;
    font-size: 12px;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
}

#btn-login:hover {
    border-color: none;
    color: black;
    background-color: #FFBA00;
}

#btn-login:active {
    border-color: 2px solid #FFBA00;
    color: #FFBA00;
    background-color: transparent;
}

#btn-cadastro{
    background-image: url(../img/cadeadoCadastro.png);
    background-position: right 25px center;
    background-repeat: no-repeat;
    background-size: 18px;
    display: flex;
    align-items: flex-start;
    color: black;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px 45px 10px 25px;
    background-color: #FFBA00;
    border-color: #FFBA00;
    text-decoration:none;
    font-size: 12px;
    font-weight: 700;
    transition: all ease-in-out 0.3s;
}

#btn-cadastro:hover {
    border-color: none;
    color: #FFBA00;
    border-color: 2px solid #FFBA00;
    background-color: transparent;
    background-image: url(../img/cadeadoCadastro_amarelo.png);
}

#btn-cadastro:active {
    border-color: none;
    color: black;
    background-color: #FFBA00;
    transition: all ease-in-out 0.3s;
    background-image: url(../img/cadeadoCadastro.png);
}

/*FIM DO CSS DA NAVBAR*/


/*INICIO CSS DO FOOTER*/

.footer{
    
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(
    0, 0, 0, 0.5)),
    url('../img/footerImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: auto;
    font-family: 'Inter', sans-serif; 
    
}

#linha-horizontal-footer{
    width: 100%;
    margin-top: 280px;
    position: absolute;
    
    margin-bottom: 20px;
    border: none;
    border-top: 2px solid rgb(255, 255, 255, 0.5);
    

}

#linha-vertical-footer{
    display: flex;
    height: 140px;
    border: none;
   border-right: 2px solid rgb(255, 186, 0, 0.9);
    
}

.container-footer{
    display: flex;
    width: 50%;
    height: 300px;
    align-items: center;
    padding-bottom: 40px;
    gap: 150px;
    justify-content: center;

}

.footer-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    list-style: none;
    font-size: 15px;
   
}

.footer-contato img{
    width: 200px;
}

.footer-informacoes{
    display: flex;
    flex-direction: row;
   gap: 30px;
   
    
}

.bloco-info-footer{
    color: white;
    list-style: none;
    width: 160px;
    
}

.bloco-info-footer li{
    padding-bottom: 8px;
    font-size: 15px;
}
.footer-informacoes h4{
    color: #FFBA00;
    padding-bottom: 25px;
    font-weight: bold;
    
}
.bloco-info-footer a{
    color: white;
    list-style: none;
    width: 160px;
    text-decoration: none;
    
}

.font-titulo-footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.font-titulo-footer li{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
    

}
/*FIM DO CSS DO FOOTER*/