* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    overflow-x: hidden;
}

.font-geral {

    font-family: Arial, Helvetica, sans-serif;
}

/*Inicio CSS do header*/

.header {
    position: relative;
    background-color: black;
    width: 100%;
    height: 65px;
    z-index: 10;
}

.container-header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    color: #FFBA00;
    align-items: center;
    padding-left: 35px;
      padding-right: 35px;

}

.container-header img {
    width: 50px;
}

.container-header button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: #FFBA00;
    font-size: 25px;
    background-color: black;
    border-color: #FFBA00;
    border: 2px solid;

}

/*Fim do CSS header*/


/*Inicio do CSS do container*/
.container-financeiro {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
    justify-content: center;
    align-items: center;


}

.form-simulador-financeiro {
    position: relative;
    z-index: 5;
    display: flex;
    width: 45%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid;
    border-radius: 50px;
    border-color: #FFBA00;
    padding: 30px;
    background-color: white;
}

.form-simulador-financeiro p {
    font-size: 13px;
    border: 1px solid;
    border-color: #00352A;
    border-radius: 15px;
    padding: 4px 20px;
    color: #00352A;

}

.form-simulador-financeiro h1 {
    padding: 30px 40px 30px 0px ;
    width: 100%;
}

.form-simulador-financeiro button{
   font-weight: bold;
    display: flex;
     align-self: center;
      padding: 12px 45px;
      border-radius: 30px;
      background-color: #FFBA00;
      border-color: #FFBA00;
      border-style: none;
      margin-top: 70px;

}
.ipt-simulador-financeiro {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.ipt-simulador-financeiro input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
   

}

.circulo-fundo1,
.circulo-fundo2,
.circulo-fundo3 {
    position: absolute;
    z-index: 1;
}

.circulo-fundo1 {
    width: 350px;
    height: 400px;
    background-color: #FFBA00;
    border-radius: 35% 70% / 30% 50%;

    top: 0;
    left: 0;

    transform: translate(-10%, -10%);

}

.circulo-fundo2 {

    width: 250px;
    height: 250px;
    border-radius: 50%;

    top: 280px;
    left: 90px;

    background: conic-gradient(#094a2c 0deg 270deg,
            transparent 270deg 360deg);
    transform: rotate(90deg);
}

.circulo-fundo3 {

    width: 400px;
    height: 300px;
    background-color: #FFBA00;
    border-radius:
        80% 40% 0% 0% / 90% 90% 10% 0%;

    bottom: 0;
    right: 0;

}


/*Fim do CSS do container*/