
#pagina{
    font-family: 'Inter', sans-serif; 
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./imgFundo.svg') ; 
    background-size: cover;
    background-color: black;

    
}

.box1{
    border: solid 1px color#FFBA00;
    border-radius: 38px;
    background-color: #FFBA00;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 280px;
}
#botaoZap{
border: none;
border-radius: 30px;
background-color: #00352A;
color: #FFBA00;
width: 200px;
height: 35px;
padding: 0px;
}

#imgZap_botao{
    display: flex;
    align-items: row;
    padding: 20px;
}

#botaoEmail{
border: none;
border-radius: 30px;
background-color: #FFBA00;
color: black;
width: 250px;
height: 35px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
gap: 8px;
}

#botaoTelefone{
border: none;
border-radius: 30px;
background-color: #FFBA00;
color: black;
width: 190px;
height: 35px;
margin: 0px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: center;
gap: 8px;

}

#imgTelefone{
    margin: 5px;
    
}

.box2{
    border: solid 1px color#00352A;
    border-radius: 40px;
    background-color: #00352A;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 280px;
}

#titulo1{
color: #00352A;
margin-top: 30px;
font-size: x-large;
font-weight: 900;
}

#titulo2{
color: #FFBA00;
margin-top: 30px ;
width: 290px;
margin-bottom: 0px;
font-weight: 900;
}

#p1{
    color: black;
    width: 295px ;
    padding-bottom: 0px ;
    font-size: medium;
}
#p2{
    color: white;
    width: 320px;
    font-size: medium;
}



.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0px solid ;
    height: 100vb;
    gap: 120px;
}

