*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 80px;
     position: fixed;
    z-index: 10;
}

.header p{
    color: #FFBA00;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}


#container {
     font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      gap: 40px;
      padding-top: 80px;
  }

  #container::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url('./img/img_fundo_alerta.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(0.6) blur(5px);

      z-index: -1;
      transform: scale(1.1)
  }

.container_resposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    gap: 20px;
}

.titulo_container{
    font-size: 35px;
    font-weight: bold;
    color: #e5e5e7;
}
.subtitulo{
    font-weight: bold;
    font-size: 18px;

}

textarea[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 20px;
    font-size: 16px;
    border-radius: 20px;
    width: 400px;
    border: none;
    background-color: #F1F4F9;
}


select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFBA00;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    padding: 8px 35px;
    font-size: 14px;

}

button:hover {
    background-color: #EFB661;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
    border: 2px double black;
}